@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bungee&family=Dosis:wght@200;300;400;500;600;700;800&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Barlow", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 228, 222);
}

main,
aside {
  display: flex;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(200, 200, 200, 0.3);
  overflow: hidden;
  width: 950px;
  margin-top: 4rem;
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 4rem;
  background: whitesmoke;
  padding: 36px 12px 0 12px;
}

h2 {
  color: black;
}

.header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.21);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.settings-section,
.results-section {
  background: whitesmoke;
  width: 50%;
  padding: 36px 12px 0 12px;
}

.settings-section {
  /* height: auto; */
  margin-top: auto;
}

.settings-container {
  display: flex;
  align-items: center;
  margin: 1rem 0.5rem 1.5rem 0;
  width: 100%;
  gap: 5px;
}

.input-field {
  width: 6rem;
  height: 2.5rem;
  font-size: 1.1rem;
  text-align: right;
  padding-right: 0.5rem;
  outline: 0;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.31);
  border-radius: 5px;
}

.total-lånekostnad {
  font-size: 2.8rem;
  color: teal;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.21);
}

.stats>p {
  font-size: 1.2rem;
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SLIDER */

.slidecontainer {
  width: 300px;
  margin: 1rem 0.5rem 1rem 0;
  display: inline-block;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: transparent;
  background: whitesmoke;
  border-color: #d3d3d3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: transparent;
  background: whitesmoke;
  border-color: #d3d3d3;
  cursor: pointer;
}

.teal::-webkit-slider-thumb,
.teal::-moz-range-thumb {
  background: teal;
  border-color: transparent;
}

.orangered::-webkit-slider-thumb,
.orangered::-moz-range-thumb {
  background: orangered;
  border-color: transparent;
}

/* Pie chart */

.pie-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-weight: 300;
}

.pie {
  width: 98px;
  height: 98px;
  background-image: conic-gradient(teal 100%, orangered 100%);
  border-radius: 50%;
  position: relative;
  transition: background-image 0.5s ease;
}

.pie.hollow::after {
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.failed {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.256);
}

.legend {
  display: inline-block;
  width: 10px;
  height: 6px;
  border-radius: 3px;
  margin: 4px;
}

.orangereds {
  background-color: orangered;
}

.teals {
  background-color: teal;
}

/* Table Styles */

table {
  background-color: rgb(230, 228, 222);
  color: rgb(34, 37, 42);
  margin-bottom: 20px;
  word-wrap: break-word;
  max-height: 500px;
  overflow-y: scroll;
}

table,
th,
td {
  border: 1px solid rgb(210, 209, 205);
  border-collapse: collapse;
}

th {
  padding: 20px 16px;
  text-align: left;
  box-shadow: 0 4px 4px 1px rgba(200, 200, 200, 0.9);
}

td {
  padding: 15px 16px;
  text-align: right;
}

td:first-of-type {
  text-align: left;
}

button {
  padding: 8px 18px;
  border: 0;
  background-color: transparent;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  color: teal;
  transition: color ease 0.5s;
}

button:hover {
  color: rgb(0, 64, 64);
  cursor: pointer;
}

@media (max-width: 960px) {

  main,
  aside {
    flex-direction: column;
    width: 475px;
  }

  table {
    font-size: 0.7rem;
  }

  .settings-section,
  .results-section {
    width: 100%;
  }

  .results-section {
    margin-bottom: 36px;
  }

  .settings-container {
    margin: 0.3rem 0 0.5rem 0;
  }
}

@media (max-width: 480px) {

  main,
  aside {
    width: 320px;
  }

  table {
    font-size: 0.5rem;
  }

  th {
    padding: 15px 3px;
    text-align: center;
  }

  td {
    padding: 12px 3px;
  }

  .details-header>h2 {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .total-lånekostnad {
    font-size: 2rem;
  }
}